*{
  box-sizing: border-box;
}
body {
  margin: 0;
}

html {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    height: 100vh;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
} 
